body {
    background: linear-gradient(to right, #e8e6f0, #e1e8ef);
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container-fluid {
    max-width: 600px;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: 600;
    color: #333;
}

.btn-primary {
    width: 100%;
    background-color: #2575fc;
    border: none;
}

.btn-primary:hover {
    background-color: #1b5ec7;
}


hr {
    border-top: 3px solid #918d8d;
}

/* Input Box */
.custom-input {
    border: 2px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Input Box Hover Effect */
.custom-input:focus {
    /* border-color: #b5b1b1; */
    box-shadow: 0 0 5px rgba(166, 152, 245, 0.5);
    outline: none;
}


/* Disabled Send OTP button  */
#submit-btn:disabled {
    background-color: #b5b1b1;
    border-color: #b5b1b1;
    cursor: not-allowed;
}

/* Enabled Send OTP button  */
#submit-btn:not(:disabled) {
    background: linear-gradient(to right, #2196F3, #64B5F6);
    border-color: #2196F3;
    cursor: pointer;
}

.custom-input1 {
    background-color: #ccc;
    border-color: #ccc;
    pointer-events: none;
}

/* Disabled verify OTP button  */
#verify-otp-btn:disabled {
    background-color: #b5b1b1;
    border-color: #b5b1b1;
    cursor: not-allowed;
}

/* Enabled verify OTp button  */
#verify-otp-btn:not(:disabled) {
    background: linear-gradient(to right, #2196F3, #64B5F6);
    border-color: #2196F3;
    cursor: pointer;
}

/* OTP resend timer */
#otp-resend-timer{
    font-size: 12px;
    text-align: end;
    color: red;
    margin-bottom: 15px;
    display: block;
}

/* Resend OTP timer */
#resend-otp-btn{
    font-size: 12px;
    text-align: end;
    margin-bottom: 15px;
}


@media (max-width: 576px) {
    body {
        background: none;
    }

    .container-fluid {
        box-shadow: none;
    }
}